{% extends 'base.html'%}
{% load static %}
{% block title%}
<title>welcome To BeastFitness!</title>
{%endblock title%}

{%block content%}
 <div class = "container">
    <div class = "row mt-5">
       <div class = "col-md-4">
           <img src="{% static 'images/body1.jpg' %}" alt="back" class="rounded-lg shadow-sm" width="360" height="250">
       </div>
       <div class = "col-md-4">
        <img src="{% static 'images/Beast_Head.jpg' %}" alt="back" class="rounded-lg shadow-sm" width="360" height="250">
    </div>
    <div class = "col-md-4">
        <img src="{% static 'images/dumbell.jpg' %}" alt="back" class="rounded-lg shadow-sm" width="360" height="250">
    </div>
    </div>
 <div class="row mt-5">
 <div class="col-md-10 offset-md-1">
    <center><p class="h1 text-danger">Welcome To The Beast! </p></center>
    <center><p class="h2 mt-3">On My Path To Becoming My Best Self</p></center>
    <center><p class="h3">Let's See How Far I Can Go</p></center>

    <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a></center>
 </div>
 </div>
</div>
{%endblock content%}